/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0;
    padding: 0;
}

/* Header styles */
header {
    background-color: #511515;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 25px;
}

nav {
    margin-top: 15px;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 8px 15px;
    margin: 0 5px;
    border-radius: 5px;
}

nav a:hover {
    background-color: #555;
}

.active {
    background-color: #555;
}

/* Main container styles */
.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Section styles */
.section {
    margin-top: 20px;
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
}

h2 {
    margin-top: 20px;
}

/* Video container styles */
.video-container {
    margin-top: 20px;
    text-align: center;
}

#videoElement {
    width: 100%; /* Adjust width as needed */
    max-width: 600px; /* Maximum width for responsiveness */
    height: auto; /* Maintain aspect ratio */
    display: block;
    margin: 0 auto; /* Center the video element horizontally */
    border-radius: 10px; /* Rounded corners */
    object-fit: cover; /* Ensure the video fills the container without stretching */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Footer styles */
footer {
    background-color: #8B8000;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 5px;
}

footer a:hover {
    text-decoration: underline;
}
